{
  "plugins": [
    "transform-class-properties",
    "syntax-dynamic-import",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }]   
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "ie": 9,
          "uglify": true
        },
        "modules": false
      }
    ],
    "react"
  ]
}