.calendar-header {
  background-color: #0af;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 6px 6px 0 0;
  color: #FFF;
  font: {
    size: 16px;
    weight: 400;
  }
  img {
    cursor: pointer;
    border: 14px solid transparent {
      left: 20px solid transparent;
      right: 20px solid transparent;
    }
    &.icon-left {
      float: left;
      margin-left: 10px;
    }
    &.icon-right {
      float: right;
      margin-right: 10px;
    }
    &.icon-disable{
      cursor: not-allowed;
    }
  }
}
.calendar-table {
  width: 279px;
  height: 318px;
  border-Radius: 0 0 6px 6px;
  border: 1px solid #0af {
    top: none
  }
  background-color: #fff;
  font: {
    size: 12px;
    weight: 400;
  }
  color: #333;
  text-align: center;
  th, td {
    height: 40px;
    text-align: center;
  }
  span {
    cursor: pointer;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .item-disable {
    color: #ccc;
    cursor: not-allowed;
  }
  .item-active {
    background: #0af;
    color: #fff;
    border-radius: 50%;
  }
  .item-today {
    border:1px solid #0af;
    border-radius: 50%;
  }
  .item-light {
    color: #999;
  }
}
